<template>
  <app-page back title="Помощь">
    <question-item
      v-for="question in questions"
      :key="question.title"
      :question="question"
    ></question-item>
  </app-page>
</template>

<script>
import QuestionItem from '../components/question/QuestionItem'
import AppPage from '../components/ui/AppPage'

export default {
  components: { AppPage, QuestionItem },
  setup() {
    const questions = [
      { title: 'Вопрос 1', text: 'Ответ 1' },
      { title: 'Вопрос 1', text: 'Ответ 1' },
    ]

    return {questions}
  },
}
</script>
